:root {
    --green: #72B047;
    --gray: #404040;
  }

body{
    background-color: var(--gray);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito';
    margin: 0px;
}

/* Profile page */

.userImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#changePhoto{
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 50px;
}

.borderBottom{
    border-bottom: 2px solid #fff;
    width: 90%;
    margin: 100px 0px 60px 0px;
}

.fullWidth{
    width: 100%;
}

.star{
    width: 60px;
}

.plate{
width: 200px;
}

.soldCount{
    position: relative;
    top: -154px;
    font-size: 30pt;
}

.marginE{
    margin: -30px 0px 50px 0px
}

.marginF{
    margin: 20px 0px 70px 0px
}

.profileListingsText{
    font-size: 40pt;
    font-weight: 500;
    margin: 20px 0px 0px 0px;
}

#profilePicSubmit{
    display: none;
    width: 300px;
    margin-top: 0px;
}

#profilePicLabel{
    display: none;
}

#profilePicForm{
    position: absolute;
}

.profilePic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deleteListing{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.listingEnd{
    display: flex;
    flex-direction: column;
}

/* Welcome page */

#cooking{
    margin: 90px 0px;
    width: 600px;
}

#openSignUp{
    background-color: var(--green);
    padding: 30px 220px;
    font-size: 40pt;
    border-radius: 30px;
    font-weight: 500;
    margin: 30px 0px 20px 0px;
}

#openLogIn{
    color: var(--green);
    font-size: 30pt;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
}

#signUpButton{
    margin: 0px 0px 10px 0px;
}

.subtitle{
    font-size: 30pt;
    font-weight: 400;
}

#signUp{
    display: none;
    position: absolute;
    background-color: var(--green);
    top: 47%;
    padding: 60px 80px;
    border-radius: 30px;
    width: 65%;
    z-index: 2;
}
#logIn{
    display: none;
    position: absolute;
    background-color: var(--green);
    top: 47%;
    padding: 60px 80px;
    border-radius: 30px;
    width: 65%;
    z-index: 2;
}

#welcomeLogo{
    width: 600px;
    margin: 20px 0px 10px 0px;
}

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.marginA{
    margin: 20px 0px 10px 0px;
}

.marginB{
    margin-top: 127px;
}

.marginC{
    margin-bottom: 127px;
}

form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.submit{
    font-size: 40pt;
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    border: none;
    margin-top: 40px;
    width: 100%;
}

.white{
    color: white !important;
}

.black{
    color: black !important;
}

.center{
    text-align: center;
}

.alert_red{
    position: absolute;
    bottom: 500px;
    font-size: 30pt;
    background-color: #C6360A;
    color: white;
    padding: 39px 0px;
    border-radius: 30px;
    width: 630px;
    text-align: center;
    z-index: 1;
}
.alert_green{
    position: absolute;
    bottom: 500px;
    font-size: 30pt;
    background-color: var(--green);
    color: white;
    padding: 39px 0px;
    border-radius: 30px;
    width: 630px;
    text-align: center;
    z-index: 1;
}

/* Burger menu */
 
.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 40px;
    user-select: none;
    margin-top: 20px;
}

.menu_item {
    list-style-type: none;
    padding: 10px 15px;
    margin: 20px;
    display: flex;
    width: 400px;
}

.navicon {
    background: white;
    display: block;
    height: 8px;
    position: relative;
    transition: background .2s ease-out;
    width: 72px;
    border-radius: 10px;
}

.navicon:before,
.navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 10px;
}

.navicon:before {
    top: 20px;
}

.navicon:after {
    top: -20px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .menu {
    display: block;
    height: 200px;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    align-items: center;
    transition-duration: 1s;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: var(--gray);
    width: 100%;
    height: 110%;
}

.menu_list{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-size: 40pt;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu_item_icon{
    width: 80px;
    margin-right: 80px;
}

.menu_user{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.profile_icon{
    width: 130px;
    height: 130px;
    margin-right: 50px;
    border-radius: 50%;
}

.profile_name{
    font-size: 25pt;
    display: flex;
    align-items: center;
}

.log_out{
    text-decoration: none;
    color: white;
    font-size: 40pt;
    padding: 0px;
    margin: 0px;
    background-color: var(--gray);
    font-family: 'Nunito';
    width: 100%;
    border: none;
}

.nav_link:hover {
    opacity: 0.5
}

.border {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 6px;
    border-radius: 8px;
    padding: 2px 6px 2px 6px;
}

.border:hover {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5
}

h3:hover {
    opacity: 0.5
}

.menu-btn:checked ~ .dropdown_menu {
    display: flex;
}

.no_margin{
    margin: 0px !important;
}

.bottom{
    position: absolute;
    bottom: 15vh;
}

.marginD{
    margin: 50px 0px 50px 0px;;
}

.menu_image{
    margin-top: 80px;
}

 /* Home page */
.logo{
    width: 280px;
    cursor: pointer;
    margin: 10px 0px 0px 10px;

}

.header{
    width: 100%;
    height: 150px;
    background-color: var(--green);
}

.mainButton{
    font-size: 40pt;
    text-decoration: none;
    margin: 0px;
}

.decoration{
    text-decoration: none;
}

.mainGreen{
    background-color: var(--green);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 240px;
    border-radius: 30px 30px 0px 0px;
}

.mainWhite{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 240px;
    border-radius: 0px 0px 30px 30px;
    border-top: 2px solid black;
}
 
.mainMargin{
    margin: 20px 0px 0px 0px;
    font-size: 25pt;
    font-weight: 400;
}

.mainIcon{
    width: 95px;
    height: 95px;
}

.mainIconNext{
    width: 60px;
    height: 60px;
}

.mainButtons{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

.mainText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textBlack{
    color: black;
}

.textWhite{
    color: white;
}


.listings{
    width: 90%;
}

.listingsText{
    font-size: 40pt;
    font-weight: 500;
    margin: 120px 0px 0px 0px;
}

.listingImage{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 3px #808080;
}

.listing{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    padding: 30px;
    margin: 50px 0px;
    position: relative;
}

.city{
    position: absolute;
    right: 30px;
    margin: 0px;
}

.listingText{
    width: 50%;
    margin: 0px 0px 0px 50px;
}

.title{
    margin: 0px;
    font-size: 30pt;
    font-weight: 700;
}

.description{
    margin: 10px 0px 10px 0px;
    font-size: 18pt
}

.nameDate{
    margin: 0px;
    font-size: 22pt;
    font-weight: 500;
}

#map{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    height: 100vh;
    top: 0px;
    bottom: 0; 
    width: 100%; 
}

iframe{
    height: 800px;
    width: 90%;
}

#closeMap{
    font-size: 30pt;
    margin-bottom: 20px;
    background-color: var(--green);
    color: white;
    padding: 20px 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

/* Chat */

.content{
    width: 90%;
}

.pageName{
    font-size: 40pt;
    font-weight: 500;
    width: 90%;
    margin: 45px 0px;
}

/* Add Post */

.postInput{
font-size: 26pt;
width: 94%;
padding: 2% 3%;
margin: 5px;
border-radius: 20px;
font-family: 'Nunito';
font-weight: 700;
}

.uploadLabel{
    font-size: 26pt;
    margin-top: 40px;
}

.fileUpload{
    font-size: 26pt;
    padding: 0px;
    font-weight: 500;
    width: 480px;
}

input[type=file]::file-selector-button {
    padding: 17px 26px;
    border-radius: 20px;
    margin-right: 20px;
}
  
.submitPost{
    font-size: 40pt;
    color: white;
    background-color: var(--green);
    padding: 30px;
    border-radius: 30px;
    border: none;
    margin-top: 40px;
    width: 60%;
}

textarea{
    resize: none;
}
/* Clicked listing */

.listingUserImage{
    width: 120px;
    height: 120px;
    display: none;
    border-radius: 50%;
    margin: 20px 30px 20px 0px;
}

.contact{
    display: none;
}

.openListing{
    display: flex;
    flex-direction: row;
}

.cityOpen{
    display: none;
}

.fullName{
    display: none;
}

.fullDescription{
    display: none;
    font-size: 22pt;
}

.closeListing{
    display: none;
    position: absolute;
    right: 30px;
    top: 10px;
}


.active .fullDescription {
    display: block;
}

.active .listingUserImage {
    display: block;
}

.active .listingImage {
    width: 260px;
    height: 260px;
}

.active .contact {
    display: block;
}

.active .city {
    display: none;
}

.active .listingText {
    width: 100%;
}

.active .cityOpen {
    display: block;
}

.active .fullName {
    display: block;
}

.active .nameAndDate {
    display: none;
}

.active .shortDescription {
    display: none;
}

.active .closeListing {
    display: block;
}

.openListingDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}