:root {
    --green: #72B047;
    --gray: #404040;
  }

body{
    background-color: var(--gray);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito';
    margin: 0px;
}

/* Profile page */

.userImage{
    width: 200px;
    border-radius: 50%;
    margin-left: 60px;
}

.changePhoto{
    width: 60px;
    border-radius: 50%;
    position: relative;
    top: -120px;
    left: -30px;
}

.borderBottom{
    border-bottom: 2px solid #fff;
    width: 80%;
    margin: 100px 0px 60px 0px;
}

.star{
    width: 60px;
}

.plate{
width: 200px;
}

.soldCount{
    position: relative;
    top: -140px;
}

/* Welcome page */

#cooking{
    margin: 170px 0px;
    width: 600px;
}

#openSignUp{
    background-color: var(--green);
    padding: 30px 220px;
    font-size: 40pt;
    border-radius: 30px;
    font-weight: 500;
    margin: 30px 0px 20px 0px;
}

#openLogIn{
    color: var(--green);
    font-size: 30pt;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
}

#signUpButton{
    margin: 0px 0px 10px 0px;
}

.subtitle{
    font-size: 30pt;
    font-weight: 400;
}

#signUp{
    display: none;
    position: absolute;
    background-color: var(--green);
    top: 53.5%;
    padding: 60px 80px;
    border-radius: 30px;
    width: 65%;
    z-index: 2;
}
#logIn{
    display: none;
    position: absolute;
    background-color: var(--green);
    top: 53.5%;
    padding: 60px 80px;
    border-radius: 30px;
    width: 65%;
    z-index: 2;
}

#welcomeLogo{
    width: 600px;
    margin: 50px 0px 30px 0px;
}

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.marginA{
    margin: 20px 0px 10px 0px;
}

.marginB{
    margin-top: 127px;
}

.marginC{
    margin-bottom: 127px;
}

form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

input{
    font-size: 24pt;
    padding: 10px 15px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--gray);
    color: white;
    font-family: 'Nunito';
    width: 100%;
    border: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--gray) inset;
  transition: background-color 5000s ease-in-out 0s;
}
::placeholder {
    color: white;
    opacity: 1; 
  }

.submit{
    font-size: 40pt;
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    border: none;
    margin-top: 40px;
    width: 100%;
}

.white{
    color: white !important;
}

.black{
    color: black !important;
}

.center{
    text-align: center;
}

.alert_red{
    position: absolute;
    bottom: 500px;
    font-size: 30pt;
    background-color: #C6360A;
    color: white;
    padding: 39px 0px;
    border-radius: 30pt;
    width: 630px;
    text-align: center;
    z-index: 1;
}
.alert_green{
    position: absolute;
    bottom: 500px;
    font-size: 30pt;
    background-color: var(--green);
    color: white;
    padding: 39px 0px;
    border-radius: 30pt;
    width: 630px;
    text-align: center;
    z-index: 1;
}


 /* Home page */
.logo{
    width: 280px;
    cursor: pointer;
    margin: 10px 0px 0px 10px;

}

.header{
    width: 100%;
    height: 140px;
    background-color: var(--green);
}

.mainButton{
    font-size: 40pt;
}

 /* Burger menu */
 
.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 10px;
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 40px;
    user-select: none;
    margin-top: 20px;
}

.menu_item {
    list-style-type: none;
    padding: 10px 15px;
    margin: 20px;
    display: flex;
    width: 400px;
}

.navicon {
    background: white;
    display: block;
    height: 8px;
    position: relative;
    transition: background .2s ease-out;
    width: 72px;
    border-radius: 10px;
}

.navicon:before,
.navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 10px;
}

.navicon:before {
    top: 20px;
}

.navicon:after {
    top: -20px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .menu {
    display: block;
    height: 200px;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    align-items: center;
    transition-duration: 1s;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: var(--gray);
    width: 100%;
    height: 100%;
}

.menu_list{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-size: 40pt;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu_item_icon{
    width: 80px;
    margin-right: 80px;
}

.menu_user{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.profile_icon{
    width: 130px;
    margin-right: 50px;
}

.profile_name{
    font-size: 25pt;

}

.log_out{
    text-decoration: none;
    color: white;
    font-size: 40pt;
    padding: 0px;
    margin: 0px;
}

.nav_link:hover {
    opacity: 0.5
}

.border {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 6px;
    border-radius: 8px;
    padding: 2px 6px 2px 6px;
}

.border:hover {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5
}

h3:hover {
    opacity: 0.5
}

.menu-btn:checked ~ .dropdown_menu {
    display: flex;
}

.no_margin{
    margin: 0px !important;
}

.bottom{
    position: relative;
    bottom: 100px;
}