
input{
    font-size: 24pt;
    padding: 10px 15px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--gray);
    color: white;
    font-family: 'Nunito';
    width: 100%;
    border: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--gray) inset;
  transition: background-color 5000s ease-in-out 0s;
}
::placeholder {
    color: white;
    opacity: 1; 
  }